    .bungkus {
            background-color: white;
            width: 100%;
            height: auto;
            padding: 10px;
    }
    .alert {
      position: relative;
      margin-left:16px;
      margin-right:57px;
      margin-bottom: 1rem;
      border: 1px solid transparent;
      border-radius: 0.25rem;
    }
    .nav > li.nav-item > a.active {
      background-color: #00BCD4;
      font-weight: 550;
      font-size: 16px;
      transition: 0.2s;
    }
    .nav-link {
      color: #00BCD4;
      border-style: solid;
      border-width: 1px;
      font-weight: 550;
      font-size:16px;
    }
    .masukText {
      color: #00BCD4;
      font-size: 36px;
      font-weight: 700;
      margin-left: 15px;
    }
    .kiri {
      margin-right:120px;
      margin-left: 100px;
      padding-right: 55px;
      margin-top: 50px;
    }
    .inputUsrname {
      width: 345px;
      height: 50px;
      border: 0px solid white;
      border-radius: 10px;
      background-color: #F3F3F3;
      margin-bottom: 20px;
      padding:10px;
      color : #474747;
    }

    .inputUsrname:focus {
      box-shadow: 0 0 2px 0 #A7A7A7;
      transition: 0.3s;
    }

    .inputPassword {
      width: 345px;
      height: 50px;
      border: 0px solid white;
      border-radius: 10px;
      background-color: #F3F3F3;
      margin-bottom: 30px;
      padding:10px;
      color : #474747;
    }

    .inputPassword:focus {
      box-shadow: 0 0 2px 0 #A7A7A7;
      transition: 0.3s;
    }

    .tab-pane {
      margin-left:350px;
      margin-right:350px;
    }

    .nav{
      margin-top: 50px;
    }

    .btnLogin {
      width: 345px;
      height: 50px;
      background-color: #00BCD4;
      border: none;
      border-radius: 100px;
      color: white;
      font-weight:550;
      font-size:16px;
    }

    .btnLogin:hover{
      background-color: #1A8390;
      box-shadow: 0 0 2px 0 #1A8390;
      transition: 0.3s;
    }

    .boundary {
      position: relative;
      margin-left: 120px;
    }

    .top-left{
      position: absolute;
      top: 8px;
      left: 16px;
    }

    .intro{
      top: 120px;
      font-size: 36px;
      width: 400px;
      font-weight: bold;
      color: #fff;
      margin-left: 16px;
    }

    .logo-white{
      top: 24px;
      margin-left: 16px;
    }

    .inputWicon .inputUsrname{
      padding-left: 60px;
    }

    .inputWicon .inputPassword{
      padding-left: 60px;
    }

    .inputWicon {
      position:relative;
    }

    .inputWicon i{
      position:absolute;
      left:0;
      top:8px;
      padding:9px 8px;
      color : #7B7B7B;
    }
    .text-danger {
      margin-left: 10px;
    }
    .txt-Login {
      margin-left: 0;
    }

    .btnDaftarTmp:link, .btnDaftarTmp:visited {
      background-color: #00BCD4;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: Sunflower;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      border-radius: 5px;
      border-style: solid;
      border-color: #00BCD4;
    }

    .btnDaftarTmp:hover, .btnDaftarTmp:active {
      background-color: white;
      color: #00BCD4;
      font-family: Sunflower;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      border-radius: 5px;
      border-style: solid;
      border-color: #00BCD4;
      border-radius: 5px;
    }