/*@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);*/

fieldset, label { margin: 0; padding: 0; }
.gap{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }
@font-face {
   font-family: Circular-medium;
   src: url(font/CircularStd-Medium.otf);
}
@font-face {
   font-family: Circular-bold;
   src: url(font/CircularStd-Bold.otf);
}
@font-face {
   font-family: Circular-book;
   src: url(font/CircularStd-Book.otf);
}

*{
    margin: 0;
    padding: 0;
}
.home{
  overflow-x: hidden;
}
.menu{
    padding-top: 8px;
}
.btn-login{
    background-image: linear-gradient(to right, #02C39A, #00A896);
    color: white;
}
.btn-login:hover{
    color: white;
}
.form-width{
    width: 400px;
}
.nav-item{
    margin-left: 16px;
    margin-right: 16px;
}
.slide{
    margin-top: 80px;
    margin-bottom: 0px;
    height: 300px;
}
.produk .card, .danai .card{
    display: inline-block;
    margin:12px;
}
.danai, .produk{
    margin: 12px;
}
.danai h3, .produk h3{
    margin-left: 8px;
}
.danai .card, .produk .card{
    margin:8px;
}
.item-danai, .item-produk{
    position: relative;
    left: 12px;
    right: 0px;
}
.lihat-semua{
    position: relative;
    right: 24px;
    bottom: 16px;
}
.lihat-semua a{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.link-item, .link-item:hover{
    text-decoration: none; 
    color: #222;
}
.btn-profile{
    position: relative;
    top: 6px;
}

/* Login Section */
.body{
    margin: 0px;
    padding: 0px;
    display: inline-flex;
}
.boundary{
    position: relative;
}
.top-left{
    position: absolute;
    top: 8px;
    left: 16px;
}
.intro{
    top: 120px;
    font-size: 36px;
    width: 400px;
    font-weight: bold;
    color: #fff;
    margin-left: 16px;
}
.logo-white{
    top: 24px;
    margin-left: 16px;
}
.login{
    display: flex;
  align-items: center;
    flex: 1;
}
.txt-login{
    font-size: 32px;
    font-weight: bold;
    margin: 16px;
}
.login form{
    margin: 0 auto;
    position: relative;
    bottom: 20px;
}
.login form input[type="email"], .login form input[type="password"], .login form input[type="text"] {
    width: 600px;
    height: 50px;
    margin-top: 16px;
    padding-left: 8px;
}
.login form input[type="submit"]{
    width: 600px;
    height: 50px;
    margin: 16px;
    border: none;
    background-image: linear-gradient(to right, #02C39A, #00A896);
    color: #fff;
    font-size: 24px;
}
.email, .password{
    margin: 16px;
}
.profil{
    
}

/* detail-item */

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 


.item{
  column-count: 2;  
  margin-bottom: 16px;
  margin-top: 80px;
}
.thumbnail-title{
  position: relative;
  right: 20%;
}
.thumbnail-title h2{
  font-size: 64px;
  font-family: Circular-medium;
  margin-bottom: 32px;
}
.thumbnail-title h3{
  font-size: 48px;
  font-family: Circular-bold;
  color: #00A896;
  margin-top: 32px;
}
.mini-img{
  margin-bottom: 32px;
}
.mini-img img, .item img, #belibrg{
    border-radius: 8px;
}
#checked{
  color: orange;
}
.fa-star{
  color: grey;
}
.rating span{
  font-size: 32px;
}
#belibrg, #keranjang{
  width: 100%;
  padding: 16px;
  text-decoration: none;
  border-style: none;
  font-size: 24px;
  font-family: Circular-medium;
  position: relative;
  top: 48px;
}
#belibrg{
    background-image: linear-gradient(to right, #02C39A , #00A896);
    color: #fff;
    margin-bottom: 24px;
    margin-top: 24px;
}
#keranjang{
  background: none;
  color: #2D3434;
}
.qty {
    width: 80px;
    height: 38px;
    position: relative;
    top: 4px;
    text-align: center;
    font-size: 18px;
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-family: Circular-book;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-image: linear-gradient(to right, #02C39A , #00A896);
    color: #fff;
    font-family: Circular-medium;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tabcontent p{
  font-size: 20px;
  padding: 16px;
  font-family: Circular-medium;
  color: #5c5c5c;
}
.tabulasi{
    width: 97%;
}
.cart-badge{
  position: relative;
  bottom: 20px;
  border-radius: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

/* Profile Page */
.mainProfile {
    width: 90%;
    height: auto;
    border: none;
    padding: 25px;
    border-radius: 8px;
    background-color: white;
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0);*/
    box-shadow: 0px 2px 16px -2px rgba(112,111,112,0.16);
    margin: auto;
    margin-top: 90px;
}
.btnEdit {
    background-color: #00A896;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    float : right;
}

.icon{
    position: relative;
    left: 30px;
    width: 40px;
    height: 40px;
    margin-left: 25px;
}

#userPicture{

    height: 40px;
    width: 40px;
}

#userName{
    color: #00A896;
}
#userAddress, #userPhone{
    position: relative;
    left: 8px;
}
tr.profile>td {
  padding-bottom: 1em;
}

table{
    width:100%;
}
.tab-profile{
    margin: auto;
    width: 90%;
    margin-top: 24px;
}
.Wishlist-profile{
    margin: auto;
}
/*
.recomend-product{
  position: relative;
  padding-top: 20px;
  display: inline-block;
}
.badge{
  position: absolute;
  right: -10px;
  top: -5px;
  background: none;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
}
.bungkus{
  position: relative;
}*/
/*Login view*/

.link{
  text-decoration: none;
  margin-top: 16px;
  padding-left: 13rem;
  text-align: center;
}

.link:hover{
  color: grey;
}

.atas{
  Box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}
#btnmasuk{
  margin-right:130px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  background-color: #00BCD4; 
  color: white;
  height:40;
  width: 100;
  border-radius: 10px;
  border: none;
}

#btnmasuk:hover{
  color: #00BCD4;
  background-color: white;
}